
.header{
  display: flex;
  background-color: #357ae8;
  width: 100%;
  /*position: fixed;*/
  z-index: 99;

}

.search-container{
  border-style: solid;
  display: flex;
}

#text{
  width: 70%;
}


#ajouter{
  padding: 20px;
  margin: 15px;
  background-color: #ddd;
  color: black;
}

#ajouter:hover{
  background-color: green;
  text-decoration: none;
}

#title{
  color: black;
  text-decoration: none;
  font-size: 50px;
  width: 100%;
}

.search-container{
  background-color: #ddd;
  width: 260px;
  padding-top: 15px;

}

#search{
  padding-top: 15px;
  padding-left: 15px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer; /*cursor?*/
}

input[type="text"]{
  width: 200px;
  padding: 6px;
  padding-left: 15px;
  background: #ddd;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  font-size: 20px;
}

#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 180px;
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color:#729EBF;
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em
}
#menu-accordeon li:hover {
   background: #729EBF
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}
